body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    text-align: center;
    background-color: palevioletred ;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 50px;

}

footer {
    text-align: center;
    background-color:palevioletred ;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 10px;
}
#description{
    padding-left: 30px;
}
#photo{
    padding: 30px;
    padding-bottom: 70px;
    background-color: cyan;
    border-radius: 5px;
}
table{
    margin-left: 25%;
    margin-right: 25%;
}
img{
    width: 320px;
    
}